* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.section {
    padding: 50px 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    padding: 0 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
    width: auto;
    padding: 15px 36px;
    color: inherit;
    cursor: pointer;
    -webkit-transition: opacity .3s ease,color .3s ease,background-color .3s ease,border-color .3s ease;
    transition: opacity .3s ease,color .3s ease,background-color .3s ease,border-color .3s ease;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 1px solid;
    border-radius: 4px;
}

.btn--empty {
    background-color: transparent;
    padding: 0;
    border-color: transparent;
    font-size: inherit;
    line-height: 1;
}

.btn--empty:hover:not(.focus-visible) {
    background-color: #f16d7f;
    color: #fff;
}

.title {
    margin: 0;
    padding: 0;
}
.title--h1 {
    color: #f16d7f;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    text-transform: uppercase;
}
.title--h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.title--h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.title--h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.text {
    margin: 0;
    padding: 0;
}
.text--s {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.featured__list {
    padding: 48px 0;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f8f8f8;
}

.card__pic {
    position: relative;
}

.card__pic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58,56,56,.86);
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.card__pic:hover::before {
    opacity: 1;
}

.card__img {
    width: 100%;
}

.card__add-to-cart {
    padding: 11px 14px 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-color: #fff;
    color: #fff;
    opacity: 0;
    visibility: hidden;

}

.card__add-to-cart span {
    pointer-events: none;
}

.card__pic:hover .card__add-to-cart {
    opacity: 1;
    visibility: visible;
}

.card__desc {
    padding: 24px 16px;
}
.card__title {
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 16px;
}
.card__text {
    color: #5d5d5d;
    margin-bottom: 16px;
}
.card__price {
    color: #f16d7f;
    font-size: 16px;
    line-height: 19px;
}

.cart {
    padding: 50px 0;
}

.cart__title {
    margin-bottom: 60px;
    text-align: center;
}

.cart-list__item:not(:first-child) {
    margin-top: 40px;
}

.cart-item {
    max-width: 652px;
    position: relative;
    background-color: #fff;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.cart-item__remove {
    position: absolute;
    top: 28px;
    right: 22px;
    width: 18px;
    height: 18px;
    background-image: url(./img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: transparent;
}

.cart-item__content {
    display: flex;
}

.cart-item__img {
    max-width: 262px;
}

.cart-item__name {
    color: #222;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    max-width: 75%;
}

.cart-item__desc {
    padding: 20px 30px;
}

.cart-item__options {
    color: #575757;
    font-size: 22px;
    line-height: 26px;
    margin-top: 40px;
}

.cart-item__price {
    color: #EF5B70;
}

.cart-item__color,
.cart-item__size,
.cart-item-options__quantity {
    color: #6F6E6E;
}

.cart-item-options__item:not(:first-child) {
    margin-top: 6px;
}

.cart-item-options__quantity {
    border: 1px solid #eaeaea;
    font-size: 18px;
    line-height: 22px;
    margin-left: 24px;
    width: 44px;
    text-align: center;
    color: #6F6E6E;
}
